
div.element-container.css-zvqkad.e1tzin5v1{
    /*background-color: #EEEEEE;*/
    border: 1px solid #534e4e;
    padding: 5% 5% 5% 20%;
    border-radius: 10px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
